<html>
<head>
	    <title>Sinsex</title>
	    <meta charset="utf-8">
	    <meta name="keywords" content="Peliculas, culto">
	    <meta name="description" content="Página destinada a la información sobre peliculas de mayor relevancia en la historia cinematográfica">
	    <meta name="author" content="Iván Nuñez Londero, Juan Ramón Bertoli Rojas, Jonathan Ezequiel Quain">
	    <meta name="robots" content="index">

	    <link rel="stylesheet" type="text/css" href="estilo.css">
    </head>
    <body>
    	<header>
    		<a href="" id="cuenta">Iniciar Sesión</a><br>
        </header>
        <div>
        	<a href="" id="registrarse">Registrarse</a>
        </div>

    	<h1>Peliculas de culto</h1>
    	<div>
    	<h2>¡NO PODES DEJAR DE VERLAS!</h2>
    	<p>
    		Si sos una persona que no consume cine y no tenés idea sobre qué ver, ¡esta página es la indicada!<br> Te traemos un catálogo de grandes películas de las últimas décadas para que te pongas al día y puedas comenzar a hablar con tus amigos sobre el <b>cine de culto.</b> <br>
    	</p>
    	</div>
    	<h3>TENDENCIAS</h3>
    	<footer>
    		<a href="" id="nosotros">Sobre nosotros</a>
    		<a href="" id="contacto">Contacto</a>
    	</footer>
    </body>
</html>
