<!DOCTYPE html>
<html>
    <head>
	    <title>Sinsex</title>
	    <meta charset="utf-8">
	    <meta name="keywords" content="Peliculas, culto">
	    <meta name="description" content="Página destinada a la información sobre peliculas de mayor relevancia en la historia cinematográfica">
	    <meta name="author" content="Iván Nuñez Londero, Juan Ramón Bertoli Rojas">
	    <meta name="robots" content="index">
    </head>
    <body>
	    <header>
    		<nav>
    			<ul>
    				<li><a href="index.html">Inicio</a></li>
    				<li><a href="pagina2.html">Mi cuenta</a></li>
    				<li><a href="sobrenosotros.html">Sobre nosotros</a></li>
       			</ul>
    		</nav>
    	    </header>
    	<h1>Peliculas de culto</h1>
    	<div>
    	<h2>¡No podes no verlas!</h2>
    	<p>
    		Si sos una persona que no consume cine y no tenés idea sobre qué ver, ¡esta página es la indicada!<br> Te traemos un catálogo de grandes películas de esta época para que te pongas al día y puedas comenzar a hablar con tus amigos sobre el <b>cine de culto.</b> <br>
    	</p>
    </div>
    		Entre los géneros más importantes, se encuentran: <br>
    		<ul>
    			<div>
    			<li>Terror</li>
    			<img src="https://musicart.xboxlive.com/7/03205200-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080" height="400"><br>
    			<a href="https://www.youtube.com/watch?v=i3J6ACKQ7K0" target="_BLANK">Trailer aqui</a><br><br>
    			<img src="https://es.web.img2.acsta.net/pictures/22/06/28/16/32/0141734.jpg"><br>
    			<a href="https://www.youtube.com/watch?v=qDbMsaJjp3c" target="_BLANK">Trailer aqui</a><br><br>
    			<img src="https://www.ecartelera.com/carteles/5100/5147/001_m.jpg"><br>
    			<a href="https://www.youtube.com/watch?v=BU2eYAO31Cc" target="_BLANK">Trailer aqui</a><br><br><br>
    		    </div>
    			<div>
    			<li>Acción</li>
    			<img src="https://www.ecartelera.com/carteles/5000/5008/001_m.jpg"><br>
    			<a href="https://www.youtube.com/watch?v=PlN3_9KaHJs" target="_BLANK">Trailer aqui</a><br><br>
    			<img src="https://m.cinesargentinos.com.ar/poster/8681-matrix-4-resurrecciones.jpg?1637311717"><br>
    			<a href="https://www.youtube.com/watch?v=OM0tSTEQCQA" target="_BLANK">Trailer aqui</a><br><br>
    			<img src="https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/peliculas/john-wick-pacto-de-sangre/120113874-1-esl-ES/John-Wick-Pacto-de-sangre.png"><br>
    			<a href="https://www.youtube.com/watch?v=C0BMx-qxsP4" target="_BLANK">Trailer aqui</a><br><br>
    			</div>
    			<div>
    			<li>Drama</li>
    			<img src="https://static.wikia.nocookie.net/doblaje/images/9/9a/Elpadrino.jpg/revision/latest?cb=20211023042804&path-prefix=es"><br>
    			<a href="https://www.youtube.com/watch?v=iOyQx7MXaz0&t=2s" target="_BLANK">Trailer aqui</a><br><br>
    			<img src="https://es.web.img3.acsta.net/pictures/14/10/22/14/50/588346.jpg"><br>
    			<a href="https://www.youtube.com/watch?v=GFwzvXEAaUQ" target="_BLANK">Trailer aqui</a><br><br>
    			<img src="https://pics.filmaffinity.com/one_flew_over_the_cuckoo_s_nest-669408644-mmed.jpg"><br>
    			<a href="https://www.youtube.com/watch?v=-pNMIhnlEho" target="_BLANK">Trailer aqui</a><br><br>
    			</div>
    			<div>
    			<li>Comedia</li>
    			<img src="https://www.mubis.es/media/movies/2918/129833/american-pie-original.jpg"><br>
    			<a href="https://www.youtube.com/watch?v=VW6jfPJHDYo" target="_BLANK">Trailer aqui</a><br><br>
    			<img src="https://es.web.img3.acsta.net/pictures/14/02/12/11/04/301615.jpg"><br>
    			<a href="https://www.youtube.com/watch?v=epNuhFkPy3s" target="_BLANK">Trailer aqui</a><br><br>
    			<img src="https://es.web.img3.acsta.net/r_1280_720/img/24/98/2498303a27ec50b0ceecd43f8b9e115b.jpg"><br>
    			<a href="https://www.youtube.com/watch?v=5vsANcS4Ml8" target="_BLANK">Trailer aqui</a><br><br>
    			</div>
    			<div>
    			<li>Romance</li>
    			<img src="https://pics.filmaffinity.com/titanic-321994924-large.jpg"><br>
    			<a href="https://www.youtube.com/watch?v=1EMkCJWQIDY" target="_BLANK">Trailer aqui</a><br><br>
    			<img src="https://pics.filmaffinity.com/El_lado_bueno_de_las_cosas-651038776-large.jpg"><br>
    			<a href="https://www.youtube.com/watch?v=jGSCF-bjcQ4" target="_BLANK">Trailer aqui</a><br><br>
    			<img src="https://es.web.img3.acsta.net/medias/nmedia/18/70/98/07/20072251.jpg"><br>
    			<a href="https://www.tomatazos.com/videos/66691/Embriagado-de-Amor-Trailer"></a><br><br>
    			</div>
            </ul>
    		
    	</p>
        <footer>
    		<h4>Copyright - Todos los derechos reservados</h4>
    	</footer>
    </body>
</html>
