{% extends "base.html" %}
    
{% block title %}
    Posteos
{% endblock title %}

{% block filtro %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Categorias
  </a>
  <ul class="dropdown-menu"> 
    {% for categoria in categorias %}
    <li><a class="dropdown-item" href="?id={{categoria.pk}}">{{categoria.nombre}}</a></li>
    {% endfor %}                
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'posts:categorias' %}">Todas las categorias</a></li>
  </ul>
</li>
{% endblock filtro %}

{% block contenido %}

{% for post in posteos %}

<div class="card" style="width: 20rem;">
    <img src="{{ post.imagen.url }}" class="card-img-top" alt="No Hay Imagen">
    <div class="card-body">
      <h5 class="card-title">{{ post.titulo }}</h5>
      <p class="card-text">{{ post.subtitulo }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Publicado: {{ post.fecha }}</li>
      <li class="list-group-item">{{ post.categoria }}</li>
    </ul>
    <div class="card-body">
      <a href="{% url 'posts:post_detail' post.id %}">Ver Post</a>
    </div>
  </div>
{% empty %}
<h1>No Hay Posts</h1>
{% endfor %} 

{% endblock contenido %}
