{% extends "base.html" %}

{% block title %}
    Post
{% endblock %}

{% block contenido %}

<img src="{{post.imagen.url}}" width="650px" alt="No Hay Imagen" >
<br>
<h1>{{post.titulo}}</h1>
<br>
<h4>{{post.fecha}}</h4>
<br>
<p class="detalle" >{{post.texto}}</p>

<form action="{% url 'posts:comentar' %}" method="POST">
    {% csrf_token %}
    <textarea name="comentario" id="" cols="30" rows="10"></textarea>
    <input type="text" name="id_post" value="{{ post.id }}" hidden="">
    <input type="submit" value="comentar">    
</form>
<div>
    {%for comentario in post.comentarios_realizados%}
        <p>{{ comentario.fecha }}</p>
        <p>{{ comentario.usuario }} comentó</p>
        <p>{{ comentario.texto }}</p>
    {% endfor %}
</div>
{% endblock %}