html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(10, 10, 49);
}

.detalle{
    /* display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; */
    overflow: auto;
    height: 200px;
}

.contenedor-post{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.texto_blanco{
    text-decoration-color: white;
}