html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.detalle{
    /* display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; */
    overflow: auto;
    height: 200px;
}

.contenedor-post{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.texto_blanco{
    text-decoration-color: white;
}